version: "3.3"

services:
  db:
    image: postgres:latest
    volumes:
      - ~/django-edge/django-db:/var/lib/postgresql/data
    env_file:
      - db-variables.env

  web:
    # https://github.com/Drunkar/dockerfiles/tree/master/anaconda-django-edge
    image: drunkar/anaconda-django-edge
    volumes:
      - ~/django-edge/django-edge:/usr/src/app
    ports:
      - "8000:8000"
    links:
      - db:db
    environment:
      - DB_PORT_5432_TCP_ADDR=db
    env_file:
      - db-variables.env
